<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Item</title>
  </head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <body>
    <div class="container">
      <div class="row">
        <div class="form-group">
          <div class="col-md-4">
            <label for="">Category No. Type</label>
            <input type="text" class="form-control" name="" value="">
          </div>
        </div>
        <div class="form-group">
        <div class="col-md-4">
          <label for="">Short Description</label>
          <input type="text" class="form-control" name="" value="">
        </div>
      </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-4">
            <label for="">Long Description</label>
            <input type="text" class="form-control" name="" value="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <label for="">Purchase Unit of Measure</label>
            <input type="text" class="form-control" name="" value="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-4">
            <label for="">Basic Purchase Unit of Measure</label>
            <input type="text" class="form-control" name="" value="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <label for="">Purchase Gst</label>
            <input type="text" class="form-control" name="" value="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-4">
            <label for="">Landed Purchase</label>
            <input type="text" class="form-control" name="" value="">
          </div>
        </div>
          <div class="form-group">
            <div class="col-md-4">
              <label for="">Selling unit of measure</label>
              <input type="text" class="form-control" name="" value="">
            </div>
          </div>
        </div>
      <div class="row">
          <div class="form-group">
            <div class="col-md-4">
              <label for="">Basic price per selling uom</label>
              <input type="text" class="form-control" name="" value="">
            </div>
          </div>
          <div class="form-group">
          <div class="col-md-4">
            <label for="">Selling Gst Rate</label>
            <input type="text" class="form-control" name="" value="">
          </div>
        </div>
    </div>
      <div class="row">
          <div class="form-group">
            <div class="col-md-4">
              <label for="">Landed selling price</label>
              <input type="text" class="form-control" name="" value="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4">
              <label for="">Category No.</label>
              <input type="text" class="form-control"  name="" value="">
            </div>
          </div>
      </div>
      <button type="button" class="btn btn-primary" name="button">Submit</button>
    </div>
  </body>
</html>
